.git
.github
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rcheck/
*.tar.gz
*.log
*.err.log
Rplots.pdf
docs/
pkgdown/
dev/
rsconnect/
renv/library/
renv/staging/
vignettes/*.html
vignettes/*_files/
release-notes-v*.md
CRAN_SUBMISSION.md
RELEASE.md
