export(run_mlmr)
export(example_hsb)
export(mlm_spec)
export(mlm_formula)
export(mlm_fit)
export(mlm_equations)
export(mlm_latex_equations)
export(mlm_apa_tables)
export(mlm_software_table)
export(mlm_software_apa)
export(mlm_papaja_code)
importFrom(stats,ave)
importFrom(stats,coef)
importFrom(stats,rbinom)
importFrom(stats,rpois)
importFrom(stats,rnorm)
importFrom(stats,pnorm)
importFrom(stats,qnorm)
importFrom(bslib,bs_theme)
importFrom(bslib,font_collection)
importFrom(ggplot2,ggplot)
